/*cards-main*/
.container-main {
  width: 90%;
  margin: 0 auto;
}
.card-main-width {
  width: 65%;
  margin: auto;
}
.cards-main {
  border-radius: 4%;
  text-align: center;
  -webkit-box-shadow: 0px -1px 25px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 25px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 25px -7px rgba(0, 0, 0, 0.75);
}
